<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Luke's Jupyter Notebook

This is the Jupyter Notebook I put together for IBM's Data Science Course.

Here are some of the programming languages discussed in this course:

* SQL
* R
* Python
* Julia
* Java
* Scala
* C++

Here are some of the programming libraries discussed in this course:

* Numpy
* Pandas
* Scikit-Learn
* GGplot

Additionally, there are many Data Science Tools. Some examples include:

Name | Category
|---|---|
MySQL | Database
Hadoop File System | File-based tool
Apache Air Flow | Integration and Transformation

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#  This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

minute = 200

hour = minute/60

print(hour)

3.3333333333333335

Objectives:

* list data science languages.
* list data science libraries.
* Create a table of data science tools.

## Author 
Luke Jones