<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Luke's Jupyter Notebook

This is the Jupyter Notebook I put together for IBM's Data Science Course.

Here are some of the programming languages discussed in this course:

1. SQL
2. R
3. Python
4. Julia
5. Java
6. Scala
7. C++

Here are some of the programming libraries discussed in this course:

1. Numpy
2. Pandas
3. Scikit-Learn
4. GGplot

Additionally, there are many Data Science Tools. Some examples include:

Name | Category
|---|---|
MySQL | Database
Hadoop File System | File-based tool
Apache Air Flow | Integration and Transformation

Arithmetic can be performed with arithmetic operators. Some examples:

1 + 1 returns 2
20 // 5 returns 4 (the double slash returns an integer rather than a float - a number with a decimal)

Here are some code examples:

In [5]:
(4 + 2) * 3

18

In [6]:
minute = 120

hour = minute/60

print(hour)

2.0

Objectives:

* Create a markdown cell with the title of the notebook.
* Create a markdown cell for an introduction.
* Create a markdown cell to list data science languages.
* Create a markdown cell to list data science libraries.
* Create a markdown cell with a table of data science tools.
* Create a markdown cell introducing arithmetic expression examples.
* Create a code cell to multiply and add numbers.
* Create a code cell to convert minutes to hours.
* Insert a markdown cell to list objectives.
* Create a markdown cell to indicate the Authorâ€™s name.
* Share your notebook through GitHub
* Take a screenshot of the first page of the notebook.

Authored by Luke Jones